* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #7c2ae8;
  --main-color: #7c2ae8;
  --main-color-hover: #83d517;
  --box-color: #ffffff;
  --main-text-box: #7c2ae8;
  --text-color: #ffffff;
}

html,
body {
  height: 100vh;
}

body {
  background: var(--bg-color);
  font-family: Roboto, Arial, sans-serif;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 20px 0;
  color: var(--text-color);
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color);
}

form {
  width: 360px;
  margin: 20px 0;
  background-color: var(--box-color);
  padding: 30px 25px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: var(--main-text-box);
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: var(--main-text-box);
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline: none;
}

form .btn-login {
  display: block;
  min-width: 120px;
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
  transition: background 0.3s, color 0.3s;
}

form .btn-login:hover {
  background: var(--main-color-hover);
}