* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #561da2;
  --bg-box: #6321b9;
  --bg-container: #7c2ae8;
  --color-hover: #83d517;
  --text-color: #ffffff;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  height: 100vh;
  width: 100vw;
}

/* Top Box */

.topbox {
  align-items: center;
  background: var(--bg-box);
  display: flex;
  gap: 16px;
  justify-content: space-around;
  padding: 0 32px;
}

.resources {
  animation-name: fade;
  animation-duration: 1.5s;
}

.resources ul {
  display: flex;
  list-style: none;
  gap: 8px;
}

.topbox nav a {
  border-radius: 8px;
  color: var(--text-color);
  padding: 16px;
  text-decoration: none;
  transition: background 0.3s;
}

.topbox nav a:hover {
  background: var(--color-hover);
  color: var(--text-color);
}

.user {
  animation-name: fade;
  animation-duration: 1.5s;
  display: flex;
  gap: 16px;
}

.user ion-icon {
  border-radius: 50px;
  color: var(--text-color);
  font-size: 36px;
  padding: 7px;
  transition: background 0.2s, color 0.1s;
}

.user ion-icon:hover {
  background: var(--text-color);
  color: var(--bg-container);
}

#text-banner {
  animation-name: fade;
  animation-duration: 1.5s;
  color: var(--text-color);
  font-size: 42px;
  font-weight: 700;
  padding: 24px;
}

/* Top Box */

/* Animations */

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animations */

/* 
@media (max-width: 700px) {
  
}
 */