* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #561da2;
  --bg-box: #6321b9;
  --bg-container: #7c2ae8;
  --color-hover: #83d517;
  --text-color: #ffffff;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  height: 100vh;
  width: 100vw;
}

/* Top Box */

.topbox {
  align-items: center;
  background: var(--bg-box);
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}

.topbox nav a {
  color: var(--text-color);
  padding: 16px;
  text-decoration: none;
}

.user {
  display: flex;
  gap: 16px;
}

.user ion-icon {
  font-size: 42px;
  padding: 10px;
  color: var(--text-color);
}

#text-banner {
  animation-name: fade;
  animation-duration: 1.5s;
  color: var(--text-color);
  font-size: 42px;
  font-weight: 700;
  padding: 24px;
}

/* Top Box */

/* 
@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
animation-name: fade;
animation-duration: 1.5s;

@media (max-width: 700px) {
  
}
 */