* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #7c2ae8;
  --bg-container: #561da2;
  --bg-box: #6321b9;
  --color-hover: #83d517;
  --text-box: #83d517;
  --text-color: #ffffff;
}

html,
body {
  height: 100vh;
  width: 100vw;
  max-width: 2000px;
}

body {
  background: var(--bg-box);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-flow: wrap;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  animation-name: fade;
  animation-duration: 1.5s;
}

h1 {
  font-size: 80px;
  font-weight: 800;
  color: var(--text-color);
  animation-name: fade;
  animation-duration: 1.5s;
}

h1#title {
  font-size: 70px;
  text-align: center;
}

.form-section {
  padding: 70px 0;
  width: 600px;
  background: var(--bg-container);
  border-radius: 20px;
  animation-name: fade;
  animation-duration: 1.5s;
  box-shadow: -20px 16px 20px rgba(0, 0, 0, 0.534);
}

.recover {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.recover a {
  text-decoration: none;
}

.recover p {
  padding: 10px;
  border: 1px solid var(--bg-container);
  color: var(--text-color);
  transition: border 0.3s, color 0.3s;
  border-radius: 5px;
}

.recover p:hover {
  border: 1px solid var(--color-hover);
  color: var(--color-hover);
}

form {
  width: 360px;
  margin: 20px 0;
  background-color: var(--bg-box);
  padding: 30px 25px;
  box-shadow: -20px 16px 20px rgba(0, 0, 0, 0.336);
  border-radius: 20px;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: var(--text-color);
}

form .input-block input {
  height: 45px;
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: var(--text-color);
  border-radius: 7px;
  border: 1px solid var(--main-color);
  outline: none;
  background-color: var(--bg-color);
  text-align: center;
}

form .input-block input:focus-within {
  border: 3px solid var(--color-hover);
}

form .btn-login {
  display: block;
  min-width: 120px;
  background-color: var(--bg-container);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  transition: background 0.2s, color 0.2s;
}

form .btn-login:hover {
  background: var(--color-hover);
}

form .btn-login:focus-visible {
  outline: none;
}

.icon {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

ion-icon {
  padding: 10px;
  color: var(--text-color);
  font-size: 32px;
  border: 3px solid rgba(255, 255, 255, 0);
  transition: background 0.2s, border 0.2s;
  border-radius: 50%;
  animation-name: fade;
  animation-duration: 1.5s;
}

ion-icon:hover {
  background-color: var(--bg-box);
  border: 3px solid var(--bg-color);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 700px) {
  .banner h1{
    font-size: 50px;
  }
  .form-section {
    border-radius: 20px 20px 0 0;
  }
}